@tailwind base;
@tailwind components;
@tailwind utilities;

.insetShadow-r {
  box-shadow: inset -7px 0 9px -7px #27414d;
}

.insetShadow-l {
  box-shadow: inset 7px 0 9px -7px #27414d;
}

.shadow-orange {
  text-shadow: -1px 0 #ff652f, 0 1px #ff652f, 1px 0 #ff652f, 0 -1px #ff652f;
}

.shadow-yellow {
  text-shadow: -1px 0 #ffe400, 0 1px #ffe400, 1px 0 #ffe400, 0 -1px #ffe400;
}

.shadow-green {
  text-shadow: -1px 0 #00ff99, 0 1px #00ff99, 1px 0 #00ff99, 0 -1px #00ff99;
}

.shadow-slate {
  text-shadow: 2px 2px 0 #0f172a, 2px -2px 0 #0f172a, -2px 2px 0 #0f172a,
    -2px -2px 0 #0f172a, 2px 0px 0 #0f172a, 0px 2px 0 #0f172a,
    -2px 0px 0 #0f172a, 0px -2px 0 #0f172a, 2px 3px 0px rgba(185, 255, 76, 0);
}

.overlay {
  transition: 0.4s ease-in-out;
}

.main-container:hover > .overlay {
  height: 100% !important;
}

.stretched-text {
  letter-spacing: 2px;
  display: inline-block;
  font-size: 50rem;
  transform: scaleY(0.5);
}
